@using System.Security.Claims

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">

    <div class="sidebar-brand">
        <a href="/Home/Index" class="brand-link">
            <img src="/assets/img/AdminLTELogo.png" alt="Logo" class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">Ürün Satış</span>
        </a>
    </div>

    <div class="sidebar-wrapper">

        @if (User.Identity.IsAuthenticated)
        {

                <div class="info">
                    <a href="#" class="d-block">@User.FindFirst(ClaimTypes.Name)?.Value</a>
                </div>
        }

        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

                <li class="nav-header">MAĞAZA</li>

                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-shop"></i>
                        <p>Ana Sayfa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Cart" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-cart-fill"></i>
                        <p>Sepetim</p>
                    </a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-header">YÖNETİM</li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-gear-fill"></i>
                            <p>
                                İşlemler
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="Product" asp-action="Add" class="nav-link">
                                    <i class="nav-icon bi bi-plus-circle text-danger"></i>
                                    <p>Ürün Ekle</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Category" asp-action="Add" class="nav-link">
                                    <i class="nav-icon bi bi-tags text-warning"></i>
                                    <p>Kategori Ekle</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Product" asp-action="Index" class="nav-link">
                                    <i class="nav-icon bi bi-list-task text-info"></i>
                                    <p>Ürün Listesi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Category" asp-action="Index" class="nav-link">
                                    <i class="nav-icon bi bi-list-task text-info"></i>
                                    <p>Kategori Listesi</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                <li class="nav-header">HESAP</li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-controller="Login" asp-action="Logout" class="nav-link">
                            <i class="nav-icon bi bi-box-arrow-right text-danger"></i>
                            <p>Çıkış Yap</p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Login" asp-action="Index" class="nav-link">
                            <i class="nav-icon bi bi-box-arrow-in-right text-primary"></i>
                            <p>Giriş Yap</p>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
</aside>